<div class="ui fixed menu gem-ui-main-hdr-page">
  <!--START OF MAIN HEADER-->
  <div class="ui  gem-sc-bg2 vertical center aligned segment gem-ui-padd-none " style="width: 100%;">
    <div class="ui large primary gem-sc-bg2 menu">

          <div class="ui item gem-ui-logo pointer">
            <img class="center" src="./assets/raymond-logo.png" style="width:30%; height:80px;" />
            <!-- <img src="./assets/brand_logo.png" style="width:55px; height:35px;" /> -->

          </div>
          </div>
          </div>
          <!--END OF MAIN HEADER-->


</div>


<!-- START OF LOADER SECTION -->
<div class="gem-ui-loader-cont" id="gem_loader">
  <div class="gem-ui-loader">

      <div id="gem-vert-loader">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
  </div>
  </div>
<!-- END OF LOADER SECTION -->



<router-outlet></router-outlet>
